* {
	border: none;
	box-sizing: border-box;
	margin: 0;
	outline: none;
	padding: 0;
}


html, body {
	background-color: #f3f3f3;
	height: 100%;
	width: 100%;
}

body {
	margin-top: 30px;
}

ul { 
	list-style: none;
}
